.upcheck-window button {
  background-color: unset;
  color: unset;
}
.upcheck-window {
  background-color: unset;
  border-radius: 20px;
}
.main-view {
  padding: 20px;
  background-color: @surface;
}
.list-scroll-view {
}
.pane-title {
  font-size: 2rem;
  font-weight: 600;
  color: @primary;
}

button.upcheck-row {
  background-image: none;
  background-color: @surface_container;
  color: @on_surface;
}

button.upcheck-row:hover {
  background-color: @surface_variant;
}
.row-content {
  background-color: transparent;
}
.title {
  font-weight: 600;
}
.dim {
  opacity: 0.55;
}
.new {
  font-weight: 400;
}
.details {
  padding: 0 20px;
}
.muted {
  opacity: 0.38;
}
.description {
  margin: 10px;
  color: @on_surface_variant;
}

.package-header {
  background-color: @secondary;
  color: @on_secondary;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 12px;
}
