.powermenu-window {
  /* semi-transparent so Hyprland blur shows through */
  background-color: color-mix(in srgb, @background 70%, transparent 30%);
  padding: 100px;
  color: @on_surface;
}
.powermenu-confirm-window {
  background-color: color-mix(in srgb, @background 70%, transparent 30%);
  padding: 100px;
}

.power-confirm,
.power-menu {
  padding: 20px;
  border-radius: 16px;
  background: @surface;
  min-width: 220px;
}
.power-confirm-title {
  font-size: 2rem;
}
.power-btn-label {
}

.power-btn {
  padding: 10px;
  border-radius: 10px;
  background: @primary;
  color: @on_primary;
  border: 1px solid @primary_fixed;
}
.power-btn image {
  opacity: 0.8;
}
.power-confirm-hint {
  font-size: 0.9rem;
  opacity: 0.5;
}

.power-btn:hover {
  background: @primary_fixed;
}
